<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each productos}}
            <li>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
                <p>{{this.title}} - Precio: {{this.price}}</p>
                <p>{{this.description}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>

<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each productos}}
            <li>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
                <p>{{this.title}} - Precio: {{this.price}}</p>
                <p>{{this.description}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
        {{/each}}